body {
  font-size: 2em;
  font-family: 'Hind', sans-serif;
}

a {
  color: #00B7FF;
}

.brand-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5em;
  color: #1E3F52;
}

.navbar {
  background-color: #4188B0;
}

.navbar-brand {
  font-weight: 700;
  font-size: 2em;
  color: #1E3F52;
}

.intro {
  display: table;
  margin-top: 50px;
  width: 100%;
  height: auto;
  text-align: center;
  /*background-color: #4188B0;*/
  background: url('//wallpaperbeta.com/wallpaper_1024x768/abstract_community_texture_bubbles_black_1024x768_hd-wallpaper-342026.jpg') no-repeat center scroll;
}

.intro-text {
  font-size: 3em;
  color: #B2341B;
}

.motto {
  color: #B2341B;
  font-size: 2em;
  font-weight: 500;
}

.btn {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin: 20px;
  margin-bottom: 40px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 100%! important;
  font-size: 40px;
  color: #fff;
  background: 0 0;
}

.header {
  text-align: center;
  color: #1E3F52;
  font-weight: 700;
  font-size: 3em;
}

.center {
  text-align: center;
}

#services {
  background-color: #f7f7f7;
  padding: 30px;
}

.services-item {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.services-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  top: 25%;
  color: white;
}

.service-left {
  float: left;
}

.service-right {
  float: right;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img {
  vertical-align: middle;
}
