body {
  font-size: 2em;
  font-family: 'Hind', sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5em;
  color: #1E3F52;
}

.navbar {
  background-color: #4188B0;
}

.navbar-brand {
  font-weight: 700;
  font-size: 2em;
  color: #1E3F52;
}

.intro {
  display: table;
  margin-top: 30px;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #4188B0;
}

.intro-text {
  font-size: 3em;
  color: #B2341B;
}

.btn {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin: 20px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 100%! important;
  font-size: 40px;
  color: #fff;
  background: 0 0;
}
