<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">MSRS</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden active">
          <a class="page-scroll" href="#page-top"></a>
        </li>
        <li class>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li class>
          <a class="page-scroll" href="#services">Services</a>
        </li>
        <li class>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="intro">
  <div class="intro-body">
    <!-- <div class="container"> -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">MSRS</h1>
          <p class="intro-text">Magazine Sales Reporting System</p>
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated">
            </i>
          </a>
        </div>
      </div>
    <!-- </div> -->
  </div>
</header>

<section id="about" class="about-section">
  <div class="container">
    <p>hello about</p>
  </div>
</section>

<section id="services" class="services-section">
  <p>services</p>
</section>