<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">MSRS</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="hidden active">
          <a class="page-scroll" href="#page-top"></a>
        </li>
        <li class>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li class>
          <a class="page-scroll" href="#services">Services</a>
        </li>
        <li class>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1 class="brand-heading">MSRS</h1>
          <p class="intro-text">Magazine Sales Reporting System</p>
          <hr>
          <p>Are you using all of the tools available to you for a competitive advantage? Give the schools that you help an additional reason to choose your services over the competition. Amulek Consulting's Magazine Sales Reporting System (MSRS) is a tool that will give you that competitive edge.</p>
          <p>MSRS will differentiate you from the competition by providing a higher level of service and creates less work for you, your staff and your schools. The MSRS reports have a professional look that will send the message to your schools that you want them to have greater success in their fund raising efforts.</p>
          <p>The MSRS reports will provide your schools with more information for them to heighten the interest the students and teachers have in making more sales. The MSRS reports provide information to create a more competitive environment between the teachers, which will equate to higher sales and more money to your schools.</p>
          <hr>
          <h1 class="motto">Save Time and Money and Improve Efficiency</h1>  
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated">
            </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<br>

<section id="about" class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="header">ABOUT</h1>
      </div>
    </div>
  </div>
</section>

<br>

<section id="services" class="services-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="header">SERVICES</h1>
        <div class="row">
          <div class="col-sm-6">
            <div class="services-item">
              <div class="services-hover">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="services-item">
              <div class="services-hover">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br>

<section id="contact" class="contact-section">
  <div class="container">
    <h1 class="header">CONTACT</h1>
  </div>
</section>